# {{ .RuleName }}

// TODO: Write the rule's description here

## Example

```hcl
resource "null_resource" "foo" {
  // TODO: Write the example Terraform code which violates the rule
}
```

```
$ tflint

// TODO: Write the output when inspects the above code

```

## Why

// TODO: Write why you should follow the rule. This section is also a place to explain the value of the rule

## How To Fix

// TODO: Write how to fix it to avoid the problem
