name: generated-code

on: pull_request

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Checkout submodules
      run: git submodule update --init --depth=0
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'
        cache: true
    - name: go generate and diff checks
      run: go generate ./... && git diff --exit-code
