name: generated-code

on: pull_request

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Checkout submodules
      run: git submodule update --init --depth=0
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'go.mod'
        cache: true
    - name: go generate and diff checks
      run: go generate ./... && git diff --exit-code
