name: generated-code

on: pull_request

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Checkout submodules
      run: git submodule update --init --depth=0
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'
        cache: true
    - name: go generate and diff checks
      run: go generate ./... && git diff --exit-code
