on:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch: # Enables on-demand/manual triggering
jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - run: |
          go get github.com/aws/aws-sdk-go
          go mod tidy
          cd tools/provider-schema
          terraform init -upgrade
          terraform providers schema -json > schema.json
          cd ../..
          git submodule update --remote
          go generate ./...
      - uses: peter-evans/create-pull-request@v4
        with:
          commit-message: |
            Update AWS provider/module and generated content
          title: Update AWS provider/module and generated content
          delete-branch: true
          body: |
            This is an automated pull request triggered by GitHub Actions. To trigger check runs, close and re-open it.
