name: maintenance

on:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch: # Enables on-demand/manual triggering

permissions:
  contents: write
  pull-requests: write

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: git submodule update --init --depth=0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - name: go generate ./...
        run: |
          cd tools/provider-schema
          terraform init -upgrade
          terraform providers schema -json > schema.json
          cd ../..
          git submodule update --remote
          go generate ./...
      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: |
            Update AWS provider/module and generated content
          title: Update AWS provider/module and generated content
          delete-branch: true
          body: |
            This is an automated pull request triggered by GitHub Actions. To trigger check runs, close and re-open it.
